.title {
  font-size: 95px;
}
.subtitle {
  font-size: 25px;
  padding-top: 10px;
}
.intro-text {
  width: 100%;
  text-align: center;
}
.main {
  min-height: 93vh;
  display: flex;
  align-items: center;
  
  background-position: center;
  background-size: cover;
}
.buttonContainer {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

.landingbutton {
  width: 200px;
  height: 55px;
}

@media only screen and (min-width: 1200px) {
  .buttonContainer {
    padding: 0 200px;
  }
  .title {
    padding: 0 100px;
  }
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 60px;
  }
  .landingbutton {
    width: 150px;
    height: 50px;
  }
}

.go-premium-cta a {
  color: var(--primary-color);
  border: 3px solid var(--primary-color);
  border-radius: 5em;
  font-weight: bold;
  margin-top: -0.2em;
}
.features-section {
  background: #20272e;
  color: #fff;
}

.features-section ul {
  /* margin: 0;
  padding-left: 0.1em; */
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(19rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
}

.features-section li {
  font-size: 1.1em;
  margin-bottom: 1em;
  margin-left: 2em;
  position: relative;
}

.features-section li:before {
  content: "";
  position: absolute;
  left: -2em;
  width: 20px;
  height: 20px;
  background: url("./Img/bullet.svg");
  background-size: contain;
}

.features-section img {
  display: none;
}